@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:wght@400;700&family=Poppins&display=swap');

body {
    min-height: 4000px;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display", serif;
}


/** section-1 **/
#section-1 {
    background-image: url("./img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#section-1>div {
    color: #ffffff;
    text-align: center;
    width: 450px;
    height: 300px;
}

#section-1>div>div>h1 {
    margin: 10px 0 0 0;
    font-size: 52px;
    font-weight: 600;
    line-height: 60px;
    text-shadow: -1px -1px 2px rgba(255, 255, 255, 0.6),
        1px 1px 1px #000000Dc;
}

#section-1>div>div>h2 {
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 100;
    font-family: "Poppins", sans-serif;
    text-shadow: -1px -1px 2px #ffffff99,
        1px 1px 1px #000000Dc;
}

#section-1>div>div:last-child {
    margin-top: 10px;
    text-align: center;
}

#arrow {
    font-size: 64px;
    letter-spacing: 4px;
    height: 100px;
    color: #ffffff;

}

#arrow:hover {

    animation-name: movement1;
    animation-duration: 1s;
    transition-timing-function: ease-in;
    color: #d43076;
    padding-top: 15px;
    transform: scaleY(1.05);
}


@keyframes movement1 {
    0% {
        padding-top: 0;
        color: #ffffff;
        transform: scaleY(1);
    }

    100% {
        padding-top: 15px;
        color: #d43076;
        transform: scaleY(1.05);
    }
}

#arrow:not(hover) {
    animation-name: movement2;
    animation-duration: 1s;
    transform: scaleY(1);
    transition-timing-function: ease-in;

}

@keyframes movement2 {
    0% {
        padding-top: 15px;
        color: #d43076;
        transform: scaleY(1.05);
    }

    100% {
        padding-top: 0;
        color: rgb(255, 255, 255);
        transform: scaleY(1);
    }

}

/** section-2 **/

#section-2 {
    margin: 5px auto;
    width: 1920px;
    min-height: 60px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;



}

#logo-div {
    width: 60px;
    height: 58px;
    margin: 0 0 0 2%;
    background-image: url("./img/logo1.jpg");
    background-size: cover;
    animation-name: logochange2;
    animation-duration: 0.7s;
}

@keyframes logochange2 {
    0% {
        background-image: url("./img/logo2.jpg");
        opacity: 1;
    }

    48% {
        background-image: url("./img/logo2.jpg");
        opacity: 0;
    }

    52% {
        background-image: url("./img/logo1.jpg");
        opacity: 0;
    }

    100% {
        background-image: url("./img/logo1.jpg");
        opacity: 1;
    }
}

#logo-div:hover {
    cursor: pointer;
    animation-name: logochange1;
    animation-duration: 0.7s;
    background-image: url("./img/logo2.jpg");
}

@keyframes logochange1 {
    0% {
        background-image: url("./img/logo1.jpg");
        opacity: 1;
    }

    48% {
        background-image: url("./img/logo1.jpg");
        opacity: 0.05;
    }

    52% {
        background-image: url("./img/logo2.jpg");
        opacity: 0.05;
    }

    100% {
        background-image: url("./img/logo2.jpg");
        opacity: 1;
        cursor: pointer;
    }
}

#navbar {
    margin-right: 5%;
}

#navbar>ul {
    list-style-type: none;
    display: flex;
}

#navbar>ul>li {
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Open Sans', sans-serif;


}

#navbar>ul>li>a {
    color: #27272799;
    text-decoration: none;

}

#navbar>ul>li>a:visited {
    color: #27272799;

}

#navbar>ul>li>a:active {
    color: #d4307699;


}

#navbar>ul>li>a:hover {
    color: #d4307699;
    text-shadow: -1px -1px 2px #ffffff29,
        1px 1px 1px #00000025;

}

#mini-navbar {
    display: none;
    width: 60px;
    height: 58px;
    margin: 0 2% 0 0;
}

#mini-menu {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000000bf;
    backdrop-filter: blur(3px);
    z-index: 9999;
    font-family: 'Open Sans', sans-serif;
}

#mini-menu>ul {
    list-style-type: none;
    text-align: center;
}

#mini-menu>ul>li {
    padding: 8px;
    margin: 5px;
}

#mini-menu>ul>li:last-child {
    padding: 13px;
    margin: 7px;
}

#mini-menu>ul>li>a {
    color: #ffffff;
    text-decoration: none;

}

#mini-menu>ul>li>a:visited {
    color: #ffffff;

}

#mini-menu>ul>li>a:active {
    color: #d4307699;


}

#navbar>ul>li>a:hover {
    color: #d4307699;
    text-shadow: -1px -1px 2px #ffffff29,
        1px 1px 1px #00000025;

}
/** fixed Navbar **/
#fixed-navbar{
    width: 100%;
    min-height: 60px;
    background-color: #ffffff;
    display: none;
    position:fixed;
    left: 0;
    top: 0;
    z-index: 999;
border-bottom: 1px solid lightgray;box-shadow: 0px 41px 31px -14px rgba(0,0,0,0.1),0px 12px 10px -4px rgba(0,0,0,0.1); }


#fixed-container{
    margin: 5px auto;
    min-height: 60px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1920px;
}

/** section-2 **/

#section-3 {
    margin: 5px auto;
    width: 1280px;
    display: grid;
    gap: 5px;
    grid-template-areas:
        'item1 item1 item1 item2 item2 item2 item2'
        'item1 item1 item1 item3 item3 item4 item4'
        'item1 item1 item1 item3 item3 item4 item4'
        'item1 item1 item1 item5 item5 item6 item6'
        'item1 item1 item1 item5 item5 item6 item6';
    justify-content: center;
    background-color: #2196F300;
    padding: 5px;
}

#section-3>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    padding: 0;
    font-size: 30px;
}

.item1 {
    grid-area: item1;

}

.item2 {
    grid-area: item2;
}

.item3 {
    grid-area: item3;
    display: flex;
    justify-content: flex-start;
}

.item4 {
    grid-area: item4;
    display: flex;
    justify-content: flex-start;
}

.item5 {
    grid-area: item5;
    display: flex;
    justify-content: flex-start;
}

.item6 {
    grid-area: item6;
    display: flex;
    justify-content: flex-start;
}

.item1>img {
    width: 480px;
    height: 358px;
}

.item2>h3 {
    margin: 40px 0 0 10px;
    font-weight: 400;
    font-size: 1.1em;
    color: #2c4964;
}

.item2>h5 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 0.6em;
    color: #2c4964;
    margin: 15px 10px 0 11px;
    text-align: justify;
    line-height: 1.2; 
}

.section3-icon{
    width: 35px;
    height: 80px;
    margin: 5px 0 0 5px;
}

.section3-noteContainer{
    width: 316px;
    height: 80px;
    margin: 1px 0 0 5px;
}

.section3-note{
    margin: 2px 0 0 2px;
    width: 310px;
    height: 36px;
    font-family: "Open Sans", sans-serif;
    font-size: 0.55em;
}

@media screen and (max-width: 1921px) {
    #fixed-container,#section-2 {
        width: 1280px;
    }
    
}

@media screen and (max-width: 1281px) {
    
    #fixed-container,#section-2 {
        width: 960px;
    }
    #section-3{
        width: 722px;
        grid-template-areas:
        'item2 item2 item2 item2'
        'item1 item1 item1 item1'
        'item1 item1 item1 item1'
        'item3 item3 item4 item4'
        'item5 item5 item6 item6';
    }
}

@media screen and (max-width: 961px) {
    #fixed-container,#section-2 {
        width: 720px;
    }
}


@media screen and (max-width: 720px) {
    #fixed-navbar, #section-2 {
        width: 350px;
    }

    #navbar {
        display: none;
    }

    #mini-navbar {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #section-1 {
        height: fit-content;
    }

    #section-1>div {
        width: 350px;

    }

    #section-1>div>div:last-child {
        display: none;

    }

    #section-2 {
        width: 350px;
    }

    #section-1>div>div>h1 {
        font-size: 2.2em;
    }

    #section-1>div>div>h2 {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 360px) {
    #fixed-navbar,#section-2 {
        width: 250px;
    }

    #section-1>div>div>h1 {
        font-size: 2em;
    }

    #section-1>div>div>h2 {
        font-size: 1em;
    }
}


html {
    scroll-behavior: smooth;
}